
<div class="my-4 bg-white" style="max-width: 600px; margin-left: auto; margin-right: auto;">
  <div class="card shadow-sm">
    <div class="card-body">
      <h2 class="card-title text-center mb-4">ユーザー登録</h2>

      <%= form_with model: resource, url: user_registration_path, html: { class: "needs-validation" } do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="mb-3">
          <%= f.label :name, class: "form-label mb-1" %>
          <%= f.text_field :name, class: "form-control", autofocus: true, autocomplete: "name" %>
        </div>

        <div class="mb-3">
          <%= f.label :email, class: "form-label mb-1" %>
          <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="mb-3">
          <%= f.label :password, class: "form-label mb-1" %>
          <% if @minimum_password_length %>
            <small class="text-muted">（<%= @minimum_password_length %>文字以上）</small>
          <% end %>
          <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
        </div>

        <div class="mb-5">
          <%= f.label :password_confirmation, class: "form-label mb-1" %>
          <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
        </div>

        <div class="d-grid mb-4">
          <%= f.submit t('devise.registrations.new.sign_up'), class: "btn btn-navy" %>
        </div>
      <% end %>

      <div class="text-center mb-4">
        <%= render "devise/shared/links" %>
      </div>

      <div class="text-center">
        <%= link_to user_google_oauth2_omniauth_authorize_path, data: { turbo: false }, class: "google-login-link" do %>
          <%= image_tag "ios_light_sq_SI@3x.png", alt: "Googleでログイン", class: "google-login-img" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
