<div class="my-2 bg-white" style="max-width: 600px; margin-left: auto; margin-right: auto;">
  <div class="card shadow-sm">
    <div class="card-body">
      <h2 class="card-title mb-4 text-center">ユーザー情報</h2>
      <%= render "devise/shared/error_messages", resource: @user %>
      <div class="fw-bold">
        メールアドレス
      </div>
      <div class="mb-4">
        <%= current_user.email %>
      </div>
      <%= form_with model: @user, url: user_path, method: :patch, local: true do |f| %>
        <div class="mb-4 mt-2">
          <%= f.label :name, "ユーザー名", class: "form-label fw-bold" %>
          <%= f.text_field :name, class: "form-control", autofocus: true %>
        </div>
        <div class="text-center d-grid">
          <%= f.submit "保存", class: "btn btn-navy" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
