
<ul class="bottom-nav list-unstyled d-flex justify-content-around align-items-center m-0 p-0 fixed-bottom">
  <li class="nav-item text-center flex-fill">
    <%= link_to root_path, class: "nav-link text-navy" do %>
      <i class="bi bi-house fs-4"></i><br>
      <small>ホーム</small>
    <% end %>
  </li>
  <li class="nav-item text-center flex-fill">
    <%= link_to sushi_items_path, class: "nav-link text-navy" do %>
      <i class="bi bi-plus-slash-minus fs-4"></i><br>
      <small>カウンター</small>
    <% end %>
  </li>
  <li class="nav-item text-center flex-fill">
    <%= link_to counters_path, class: "nav-link text-navy" do %>
      <i class="bi bi-clock-history fs-4"></i><br>
      <small>履歴</small>
    <% end %>
  </li>
  <li class="nav-item text-center flex-fill">
    <%= link_to summary_counters_path, class: "nav-link text-navy" do %>
      <i class="bi bi-clipboard-data fs-4"></i><br>
      <small>寿司DB</small>
    <% end %>
  </li>
  <li class="nav-item text-center flex-fill mt-1">
    <%= link_to "#", class: "nav-link text-navy " do %>
      <%= image_tag "icons/46369.svg", class: "icon-invert", alt: "ガチャ" %><br>
      <div class="">
        <small>ガチャ</small>
      </div>
    <% end %>
  </li>
</ul>