<header>
  <nav class="navbar navbar-white bg-white">
    <!-- ハンバーガーボタン -->
    <div class="container-fluid">
      <button class="btn btn-navy custom-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="mx-auto">
        <%= link_to '寿司カウンター', root_path, class: 'navbar-brand text-center text-navy fw-bold' %>
      </div>
    </div>
  </nav>
</header>

<!-- オフキャンバスサイドバー -->
<div class="offcanvas offcanvas-start bg-white text-navy" tabindex="-1" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
  <div class="offcanvas-header">
    <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="nav flex-column">
      <h5 class="offcanvas-title text-navy2" id="offcanvasSidebarLabel">メインメニュー</h5>
      <li class="nav-item mb-2">
        <%= link_to 'ホーム', root_path, class: 'nav-link text-navy' %>
      </li>
      <li class="nav-item mb-2">
        <%= link_to 'カウンター', sushi_items_path, class: 'nav-link text-navy' %>
      </li>
      <li class="nav-item mb-2">
        <%= link_to 'カウント履歴', counters_path, class: 'nav-link text-navy' %>
      </li>
      <li class="nav-item mb-2">
        <%= link_to 'データベース', summary_counters_path, class: 'nav-link text-navy' %>
      </li>
      <li class="nav-item mb-2">
        <%= link_to 'ガチャ', gachas_path, class: 'nav-link text-navy' %>
      </li>
      <br>
      <h5 class="offcanvas-title text-navy2" id="offcanvasSidebarLabel">ユーザーメニュー</h5>
      <li class="nav-item mb-2">
        <% if current_user&.guest? || current_user.nil? %>
          <%= link_to 'ログイン', new_user_session_path, class: 'nav-link text-navy' %>
          <%= link_to '新規登録', new_user_registration_path, class: 'nav-link text-navy' %>
        <% else %>
          <%= link_to 'ユーザー設定', user_path, class: 'nav-link text-navy' %>
          <%= link_to 'ログアウト', destroy_user_session_path, class: 'text-navy nav-link bi bi-box-arrow-right', data: { turbo_method: :delete } %>
        <% end %>
      </li>
    </ul>
  </div>
</div>

<%= render 'shared/guest_user_message' %>
