<header>
  <nav class="navbar navbar-white bg-white position-relative">
    <!-- ハンバーガーボタン -->
    <div class="container-fluid">
      <button class="btn btn-navy custom-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="mx-auto position-absolute top-50 start-50 translate-middle">
        <%= link_to '寿司カウンター', root_path, class: 'navbar-brand text-center text-navy fw-bold me-0' %>
      </div>
    </div>
  </nav>
</header>

<!-- オフキャンバスサイドバー -->
<div class="offcanvas offcanvas-start bg-white text-navy" style="width: 240px;" tabindex="-1" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
  <div class="offcanvas-header">
    <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="nav flex-column">
      <h6 class="offcanvas-title text-navy2" id="offcanvasSidebarLabel">メインメニュー</h6>
      <li class="nav-item">
        <%= link_to root_path, class: 'nav-link text-navy' do %>
          <i class="bi bi-house me-2"></i>
          ホーム
        <% end %>
      </li>
      
      <li class="nav-item">
        <%= link_to sushi_items_path, class: 'nav-link text-navy' do %>
          <i class="bi bi-plus-slash-minus me-2"></i>
          カウンター
        <% end %>
      </li>
      
      <li class="nav-item">
        <%= link_to counters_path, class: 'nav-link text-navy' do %>
          <i class="bi bi-clock-history me-2"></i>
          カウント履歴
        <% end %>
      </li>
      
      <li class="nav-item">
        <%= link_to summary_counters_path, class: 'nav-link text-navy' do %>
          <i class="bi bi-clipboard-data me-2"></i>
          寿司データベース
        <% end %>
      </li>
      
      <li class="nav-item">
        <%= link_to gachas_path, class: 'nav-link text-navy d-flex align-items-center' do %>
          <%= image_tag "icons/46369.svg", class: "icon-gacha me-2", alt: "ガチャ" %>
          ガチャ
        <% end %>
      </li>

      <br>
      <h6 class="offcanvas-title text-navy2" id="offcanvasSidebarLabel">ユーザーメニュー</h6>
        <% if current_user&.guest? || current_user.nil? %>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: 'nav-link text-navy' do %>
              <i class="bi bi-box-arrow-in-right me-2"></i>
              ログイン
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_registration_path, class: 'nav-link text-navy' do %>
              <i class="bi bi-person-plus me-2"></i>
              新規登録
            <% end %>
          </li>
          <li class="nav-item mt-4 small">
            <%= link_to "利用規約", terms_path, class: "text-muted nav-link" %>
            <%= link_to "プライバシーポリシー", privacy_path, class: "text-muted nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to user_path, class: 'nav-link text-navy' do %>
              <i class="bi bi-person me-2"></i>
              ユーザー設定
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, class: 'text-navy nav-link', data: { turbo_method: :delete } do %>
              <i class="bi bi-box-arrow-right me-2"></i>
              ログアウト
            <% end %>
          </li>
          <li class="nav-item mt-4 small">
            <%= link_to "利用規約", terms_path, class: "text-muted nav-link" %>
            <%= link_to "プライバシーポリシー", privacy_path, class: "text-muted nav-link" %>
          </li>
        <% end %>
      </li>
    </ul>
  </div>
</div>

<%= render 'shared/gacha_status' %>
<%= render 'shared/guest_user_message' %>
