<div class="container my-4">
  <h4 class="fw-bold mb-2">メニュー</h4>
  <div class="row  g-1">

    <!-- カウンター -->
    <div class="col">
      <%= link_to sushi_items_path, class: "menu-card text-center" do %>
        <i class="menu-icon bi bi-plus-slash-minus"></i>
        <div class="menu-label">カウンター</div>
      <% end %>
    </div>

    <!-- カウント履歴 -->
    <div class="col">
      <%= link_to counters_path, class: "menu-card text-center" do %>
        <i class="menu-icon bi bi-clock-history"></i>
        <div class="menu-label">履歴</div>
      <% end %>
    </div>

    <!-- 寿司データベース -->
    <div class="col">
      <%= link_to summary_counters_path, class: "menu-card text-center" do %>
        <i class="menu-icon bi bi-clipboard-data"></i>
        <div class="menu-label">寿司DB</div>
      <% end %>
    </div>

    <!-- ガチャ -->
    <div class="col">
      <%= link_to "#", class: "menu-card text-center" do %>
        <div>
          <%= image_tag "icons/46369.svg", class: "icon-invert mt-3", alt: "ガチャ" %>
        </div>
        <div class="menu-label mt-2">ガチャ</div>
      <% end %>
    </div>

  </div>
</div>
