<div class="container my-4" style="max-width: 500px;">
  <%= form_with model: sushi, data: { turbo_frame: "modal_frame" }, html: { class: "p-4 border rounded bg-white" } do |f| %>
    <%= hidden_field_tag :return_category_id, params[:return_category_id] || @selected_category.id %>
    <div class="mb-3">
      <%= f.label :name, class: "form-labe mb-1" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
  
    <div class="mb-3">
      <%= f.label :category_id, "カテゴリー", class: "form-label mb-1" %>
      <%= f.collection_select :category_id, @categories, :id, :name, { prompt: "選択してください" }, class: "form-select" %>
    </div>
  
    <div class="mb-3">
      <%= f.label :image, class: "form-label mb-1" %>
      <%= f.file_field :image, class: "form-control" %>
  
      <% if sushi.image.attached? %>
        <div class="mt-3">
          <%= image_tag sushi.image.variant(resize_to_limit: [200, 200]), class: "img-thumbnail mb-3" %>
        </div>
      <% end %>
    </div>
  
    <div class="d-grid mt-4">
      <%= f.submit "保存", class: "btn btn-navy" %>
    </div>
  <% end %>
</div>
