<% puts "💡 create.turbo_stream.erb 読み込まれた！" %>

<%= turbo_stream.replace "category_nav", 
  partial: "sushi_items/category_and_list", 
  locals: { 
    categories: @categories, 
    selected_category: @selected_category, 
    sushi_items: @sushi_items, 
    counter: @counter,
    return_category_id: @return_category_id 
  } %>

<%= turbo_stream.replace "sushi_item_#{@sushi_item.id}", 
  partial: "sushi_items/sushi_item", 
  locals: { 
    sushi_item: @sushi_item, 
    counter: @counter, 
    selected_category: @selected_category,
    return_category_id: @return_category_id 
  } %>

<%= turbo_stream.update "modal_frame" do %>
  <%= raw "" %>
<% end %>

<%= turbo_stream.replace "modal_close_trigger" do %>
  <turbo-frame
    id="modal_close_trigger"
    data-controller="modal-close-hook"
    data-action="turbo:frame-load->modal-close-hook#close">
    closed-<%= SecureRandom.hex(6) %>
  </turbo-frame>
<% end %>


<%= turbo_stream.append "flash_messages" do %>
  <div class="alert alert-success flash-message" data-controller="flash">
    <div class="text-center">
      追加しました
    </div>
  </div>
<% end %>