<% content_for :title, "カウンター" %>

<turbo-frame id="category_nav" data-selected-category-id="<%= @selected_category.id %>">
  <%= render partial: "sushi_items/category_and_list", locals: { categories: @categories, selected_category: @selected_category, sushi_items: @sushi_items, counter: @counter } %>
</turbo-frame>

<div class="btn-nav3">
  <% if session[:counter_update_source] == "edit" %>
    <%= link_to "保存画面へ", edit_counter_path(@counter),class: "btn btn-navy btn-shadow" %>
  <% else %>
    <%= link_to "保存画面へ", new_counter_path,class: "btn btn-navy btn-shadow" %>
  <% end %>
</div>

<div class="btn-nav2">
  <%= button_to "カウントリセット", reset_items_counter_path(@counter),
            method: :delete,
            data: { confirm: "本当にこのカウントをリセットしますか？" },
            class: "btn btn-danger btn-shadow" %>
</div>

<!-- モーダル１つにまとめる -->
<div data-controller="modal"
    data-action="turbo:frame-load->modal#show click@window->modal#outsideClick"
    id="modal_root">
  <div class="modal-overlay d-none" data-modal-target="overlay"></div>
  <turbo-frame id="modal_frame" class="modal-frame d-none" data-modal-target="frame">
    <!-- new/editフォームの中身はここに読み込まれる -->
  </turbo-frame>
</div>
