<h2 class="text-center my-3">アプリの使い方</h2>

<p class="ms-3 me-3 mb-0 text-center">
  このアプリでは、食べたお寿司の貫数をカウントして記録できます。
</p>
<div class="mb-4 ms-3 me-3 text-center">
  <%= image_tag "counterimage.png", class: "w-100 rounded shadow-sm", style: "max-width: 300px; border: 2px solid #ccc;" %>
</div>

<p class="ms-3 me-3 mb-0 text-center">
  店名や日付もあわせて保存できるので、「いつ・どこで・どれだけ食べたか」を振り返ることができます。
</p>
<div class="mb-4 ms-3 me-3 text-center">
  <%= image_tag "saveimage.png", class: "w-100 rounded shadow-sm", style: "max-width: 300px; border: 2px solid #ccc;" %>
</div>

<p class="ms-3 me-3 mb-0 text-center">
  カウントを保存すると、<strong>一貫につき1コイン</strong>を獲得できます。コインはガチャで使用でき、楽しみながら記録を続けられます。
</p>
<div class="mb-2 ms-3 me-3 text-center">
  <%= image_tag "coingetimage.png", class: "w-100 rounded shadow-sm", style: "max-width: 300px; border: 2px solid #ccc;" %>
</div>
<div class="mb-4 ms-3 me-3 text-center">
  <%= image_tag "gachaimage.png", class: "w-100 rounded shadow-sm", style: "max-width: 300px; border: 2px solid #ccc;" %>
</div>

<p class="ms-3 me-3 mb-0 text-center">
  「寿司データベース」ページでは、これまでに記録したお寿司の一覧を確認できます。
</p>
<div class="mb-4 ms-3 me-3 text-center">
  <%= image_tag "databaseimage.png", class: "w-100 rounded shadow-sm", style: "max-width: 300px; border: 2px solid #ccc;" %>
</div>

<p class="ms-3 me-3 mb-0 text-center">
  また、ユーザー自身でカウント項目（寿司ネタなど）を新しく追加することも可能です。
</p>
<div class="mb-4 ms-3 me-3 text-center">
  <%= image_tag "sushiaddimage.png", class: "w-100 rounded shadow-sm", style: "max-width: 300px; border: 2px solid #ccc;" %>
</div>

