<% content_for :title, "ホーム" %>

<div class="mt-2 mb-5" style="max-width: 800px; margin-left: auto; margin-right: auto;">
  <h5 class="fw-bold mb-2">メニュー</h5>
  <div class="row g-1">

    <!-- カウンター -->
    <div class="col">
      <%= link_to sushi_items_path, class: "menu-card text-center" do %>
        <i class="menu-icon bi bi-plus-slash-minus"></i>
        <div class="menu-label">カウンター</div>
      <% end %>
    </div>

    <!-- カウント履歴 -->
    <div class="col">
      <%= link_to counters_path, class: "menu-card text-center" do %>
        <i class="menu-icon bi bi-clock-history"></i>
        <div class="menu-label">履歴</div>
      <% end %>
    </div>

    <!-- 寿司データベース -->
    <div class="col">
      <%= link_to summary_counters_path, class: "menu-card text-center" do %>
        <i class="menu-icon bi bi-clipboard-data"></i>
        <div class="menu-label">寿司DB</div>
      <% end %>
    </div>

    <!-- ガチャ -->
    <div class="col">
      <%= link_to gachas_path, class: "menu-card text-center" do %>
        <div>
          <%= image_tag "icons/46369.svg", class: "icon-invert mt-3", alt: "ガチャ" %>
        </div>
        <div class="menu-label mt-2">ガチャ</div>
      <% end %>
    </div>
  </div>
</div>

<div class="my-3" style="max-width: 800px; margin-left: auto; margin-right: auto;">
  <h5 class="fw-bold mb-2">寿司データベース</h5>
  <div class="mb-4">
    <div class="bg-navy text-white fw-bold text-center py-2 rounded-top">
      食べた寿司TOP3
    </div>
    <% if @popular_sushis.present? %>
      <ul class="list-group no-top-rounded border-top-0 rounded-bottom">
        <% @popular_sushis.each do |sushi, count, rank| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="fw-bold fs-5">
              <span><%= rank %>位</span>
              <span class="ms-3"><%= sushi %></span>
            </div>
            <span class="fs-5 fw-bold"><%= count %>貫</span>
          </li>
        <% end %>
      </ul>
    <% else %>
      <ul class="list-group no-top-rounded border-top-0 rounded-bottom">
        <li class="text-center list-group-item">
          <div>
            データがありません。
          </div>
        </li>
      </ul>
    <% end %>
    <%= link_to '寿司データベースへ', summary_counters_path, class: 'text-navy' %>
  </div>
  <div class="text-center mb-4">
    <%= link_to explanation_path, class: 'nav-link text-navy' do %>
      <i class="bi bi-info-circle"></i>
      アプリの使い方
    <% end %>
  </div>
</div>
