<h2 class="text-center my-3">カウント編集</h2>
<div class="my-3" style="max-width: 800px; margin-left: auto; margin-right: auto;">
  <div class="card shadow-sm">
    <div class="card-body">
      <%= form_with model: @counter, url: counter_path(@counter), method: :patch, local: true do |f| %>
        <%= f.hidden_field :update_source, value: "edit" %>
        <div class="mb-3">
          <%= f.label :eaten_at, "日付" %>
          <%= f.date_field :eaten_at, class: "form-control" %>
        </div>
      
        <div class="mb-4">
          <%= f.label :store_name, "店名(任意)" %>
          <%= f.text_field :store_name, class: "form-control" %>
        </div>

        <p>以下の寿司をカウントしました：</p>
        <ul>
          <% @counter.sushi_item_counters.includes(:sushi_item).each do |sic| %>
            <li><%= sic.sushi_item.name %>：<%= sic.count %> 貫</li>
          <% end %>
        </ul>

        <p>合計：<%= @counter.total_count %> 貫<p>

        <div class="d-grid">
          <%= f.submit "更新", class: "btn btn-navy" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="d-flex justify-content-between mb-6 mt-2">
      <%= link_to "削除", counter_path(@counter), method: :delete, turbo: false, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
      <%= link_to "カウント画面へ", use_counter_path(@counter), method: :post, class: "btn btn-navy " %>
  </div>
</div>
