<h2 class="text-center my-3">カウント保存</h2>
<div class="my-3 bg-white" style="max-width: 800px; margin-left: auto; margin-right: auto;">
  <div class="card shadow-sm">
    <div class="card-body">
      <%= form_with model: @counter, url: counter_path(@counter), method: :patch, local: true do |f| %>
        <%= f.hidden_field :update_source, value: "new" %>
        <div class="mb-3">
          <%= f.label :eaten_at, "日付" %>
          <%= f.date_field :eaten_at, class: "form-control" %>
        </div>

        <div class="mb-4">
          <%= f.label :store_name, "店名(任意)" %>
          <%= f.text_field :store_name, class: "form-control" %>
        </div>

        <p>以下の寿司をカウントしました：</p>
        <ul>
          <% @counter.sushi_item_counters.includes(:sushi_item).each do |sic| %>
            <li><%= sic.sushi_item.name %>：<%= sic.count %> 貫</li>
          <% end %>
        </ul>

        <p>合計：<%= @counter.total_sushi_count %> 貫<p>

        <div class="d-grid">
          <%= f.submit "保存", class: "btn btn-navy" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="text-end mb-6 mt-2">
    <%= link_to "カウント画面に戻る", sushi_items_path, class: "btn btn-navy" %>
  </div>
</div>
